.country__wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.country-flag {
  margin-right: 20px;
  width: 150px;
  height: 100px;
}

.country-name {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  font-size: 36px;
  color: green;
}
.country-list {
  margin: 0;
  padding: 0;
  color: #212121;
}

.country-subtitle {
  font-weight: 700;
}

.country-language {
  font-style: italic;
}
